{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <a href="{% url 'todos:todo_list_delete' todo_list.id %}">Delete this list</a>
            <a href="{% url 'todos:todo_item_create' %}">Create New Todo Item</a>
            <a href="{% url 'todos:todo_list_create' %}">Create New Todo List</a>
            <a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit this list</a>
        </div>
        <h1>{{My Lists}}</h1>
        <h2>Tasks</h2>
        <p><a href="{% url 'todos:todo_item_create' %}">Create a new item</a></p>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_item.items.all %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
