<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Todo Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input type="text" name="task"><br>

                <label for="due_date">Due Date:</label>
                <input type="text" name="due_date"><br>

                <label for="is_completed">Is Completed:</label>
                <input type="checkbox" name="is_completed"><br>

                <label for="list">List:</label>
                <select name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </select><br>

                <button type="submit">Create</button>
            </form>
        </div>

    </main>

</body>
</html>
