<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input type="text" name="task" value="{{ form.task.value }}"><br>

                <label for="due_date">Due Date:</label>
                <input type="text" name="due_date" value="{{ form.due_date.value }}"><br>

                <label for="is_completed">Is Completed:</label>
                <input type="checkbox" name="is_completed" {% if form.is_completed.value %}checked{% endif %}><br>

                <label for="list">List:</label>
                <select name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}" {% if todo_list.id == form.list.value %}selected{% endif %}>{{ todo_list.name }}</option>
                    {% endfor %}
                </select><br>

                <button type="submit">Update</button>
            </form>
        </div>

    </main>

</body>
</html>
